@using WebQuanLyCV.Models;
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layouts/LoginLayout.cshtml";
}

@using (Html.BeginForm())
{

    <div>
        <span>Email</span>
        <input type="text" name="txtEmail">
    </div>
    <div>
        <span>Password</span>
        <input type="password" name="txtPass">
    </div>
    <input type="submit" value="Đăng Nhập">

    <h3>@ViewBag.ThongBao</h3>


    if (Session["TaiKhoan"] != null)
    {
        ThongtinTaiKhoan Tttkh = (ThongtinTaiKhoan)Session["TaiKhoan"];
    }
    else
    {
        @*<span>Sai Mật khẩu</span>*@
    }
}



